# Pastas de build e output do ROS 2
build/
install/
log/

# Python compilado e cache
__pycache__/
*.py[cod]
*$py.class

# Ficheiros de IDE (VS Code, etc.)
.vscode/
.idea/
.project
.cproject
*.user

# Ficheiros de sistema e logs
.DS_Store
*.log

# Extensões compiladas
*.so